<%if(role!=="mogilev"){%>
<p class="title">Заказ отправлен</p>
<p class="info">После подтверждения администратором сети, заказ будет отправлен на склад.</p>
<p class="bold">Контактная эл. почта администратора:</p>
<a href="mailto:administrator@ds-steelline.by" class="mail">administrator@ds-steelline.by</a>
<a href="#<%if(role==="admin"){%>neworders<%}else{%>orders<%}%>" class="to_orders">Посмотреть <%if(role==="admin"){%>новые<%}else{%>текущие<%}%> заявки</a>
<%}else{%>
<p class="title">Отгрузка отправлена</p>
<p class="info">В разделе текущие отгрузки и история отгрузок хранится актуальная информация о всех отгрузках</p>
<p class="bold">Контактная эл. почта администратора:</p>
<a href="mailto:administrator@ds-steelline.by" class="mail">administrator@ds-steelline.by</a>
<a href="#ships" class="to_orders">Посмотреть текущие отгрузки</a>
<%}%>