<td data-toggle="modal" data-target="#stockModal"  class="bold"><%=name%>
	<%if(!(role==="mogilev"&&mode==="orders")){%>
			<%if(order.changed){%>
			<i class="changed"><i class="tooltip">Изменялось&nbsp;<%if(role==="mogilev"||role==="sklad"&&mode==="ships"){%>менеджером<%}else{%>администратором<%}%></i></i>
			<%}%>
	<%}%>
</td>
<td data-toggle="modal" data-target="#stockModal" ><%=art%></td>
<td data-toggle="modal"data-target="#stockModal" ><%=open_side%></td>
<td data-toggle="modal" class="center" data-target="#stockModal" ><%=width%></td>
<td data-toggle="modal" class="center" data-target="#stockModal" ><%=order.quantity%></td>
<%if((role==="admin"||role==="mogilev"||role==="sklad")&&!_.find(status,function(str) {return str === 'history'})){%>
<td data-toggle="modal" class="center" data-target="#stockModal" ><%=quantity%></td>
	<%if(role!=="sklad"){%>
	<td data-toggle="modal" class="center" data-target="#stockModal" ><%=quantity_reserved%></td>
	<%}%>
<%}%>
<td data-toggle="modal" data-target="#stockModal"  class="bold price"><%=String(price*order.quantity).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1&nbsp;')%></td>
<%if(role==="admin"||role==="mogilev"&&mode==="ships"){%>
<td class="td_edit"><span class="edit js_to_edit" data-toggle="modal" data-target="#editModal">
	<i class="tooltip">Редактировать</i>
</span></td>
<%}%>