
<a href="#" class="logo"></a>
<nav class="nav clearfix">
	<a href="#stock">Склад</a>
	<%if(role==='admin'){%>
	<a href="#neworders">Новые заказы</a>
	<%}%>
	<a href="#orders">Текущие заказы</a>
	<a href="#history">История заказов</a>
</nav>
<a href="#profile" class="profile js_profile">
	<span class="name"><%=main_name%></span>
	<span class="descript"><%=name%>, <%=address%></span>
</a>
<div class="date">
	<span class="time"><i class="js_hour"></i><i class="js_dots dots fadein">:</i><i class="js_min"></i></span>
	<span class="day"><i class="js_date"></i><br><i class="js_day_week"></i></span>
</div>
		