<div class="top_tabs">
	<div class="wrap clearfix">
		<span class="tab active" data-tab="0">Текущие заказы</span>
		<span class="tab" data-tab="1">История заказов</span>
		<a href="#stock" class="button">Оформить новый заказ</a>
	</div>
</div>
<div class="screen_tab js_screen_tab active">
	<div class="wrap">
		<div id="orders_preview">
			
		</div>

		<button class="more_orders">Показать более поздние заказы</button>
	</div>
</div>
<div class="screen_tab js_screen_tab">
	<div class="wrap">
		<div id="history_preview">
			
		</div>
		<button class="more_orders">Показать более поздние заказы</button>
	</div>
</div>
<div id="order_detail"></div>
<div class="modal fade" id="stockModal" role="dialog"></div><!-- end Modal-->
<footer id="footer"></footer>