<div class="title_top air">
	
</div>
<div class="profile_page">
	<div class="wrapper">
		<p class="title">ПРОФИЛЬ</p>
		<p class="name">Менеджер</p>
		<p class="salon">Фирменный салон «Стальная линия»</p>
		<p class="address">Минск, ТЦ Трюм, ул. Кальварийская, 7Б-6</p>
		<div class="clearfix">
			<div class="left col">
				<p class="head">Юридический адрес</p>
				<p>ООО "Дверной сезон" 213105,Республика</p>
				<p>Беларусь Могилевская обл., Могилевский р-н,</p>
				<p>д.Вейно р/с 3012437149018 в ЦБУ №801</p>
				<p>ОАО "Белинвестбанк" г.Могилев,</p>
				<p>б-р Непокоренных, 43б код 153001739</p>
				<p>ОКПО 30069447000 УНП 790823530</p>
			</div>
			<div class="right col">
				<p class="head">Контактное лицо</p>
				<p>Вахтанов Константин Константинович</p>
				<a href="" class="tel">+375 (29) 000-00-00</a><br>
				<a href="" class="mail">contact@ds-steelline.by</a>
			</div>
		</div>
		<div class="buts clearfix">
			<a href="" class="exit">Выйти из системы</a>
			<button class="change" data-toggle="modal" data-target="#profileModal">Изменить профиль</button>
		</div>
	</div>
</div>
<div class="modal fade" id="profileModal" role="dialog">
	<div class="modal-dialog profileModal">
		<div class="modal-content">
			<i class="close" data-dismiss="modal"></i>
			<form action="" class="content clearfix">
				<p class="title">Изменить профиль</p>
				<div class="field">
					<span class="name">Название объекта</span>
					<input type="text" name="name">
					<span class="help">Фирменный салон «Стальная линия»</span>
				</div>
				<div class="field">
					<span class="name">Город</span>
					<input type="text" name="city" class="short">
				</div>
				<div class="field">
					<span class="name">Почтовый индекс</span>
					<input type="text" name="index" class="short">
				</div>
				<div class="field">
					<span class="name">Адрес</span>
					<input type="text" name="address">
					<span class="help">ТЦ Трюм, ул. Кальварийская, 7Б-6</span>
				</div>
				<div class="field">
					<span class="name">Юридический адрес</span>
					<textarea type="text" name="ur_address"></textarea>
					<span class="help">ООО "Дверной сезон" 213105,Республика Беларусь<br>Могилевская обл., Могилевский р-н, д.Вейно<br>р/с 3012437149018 в ЦБУ №801 ОАО "Белинвестбанк"<br>г.Могилев, б-р Непокоренных, 43б код 153001739<br>ОКПО 30069447000 УНП 790823530</span>
				</div>
				<div class="field">
					<span class="name">ФИО контактного лица</span>
					<input type="text" name="fio">
					<span class="help">Вахтанов Константин Константинович</span>
				</div>
				<div class="field">
					<span class="name">Контактный телефон</span>
					<input type="text" name="phone">
				</div>
				<div class="field">
					<span class="name">Контактный адрес эл. ящика</span>
					<input type="text" name="email">
				</div>
				<button type="submit" class="button">Сохранить изменения</button>
			</form>
		</div>
	</div>
</div><!-- end Modal-->
<footer>
	<div class="wrap">
		<div class="bottom">
			<p class="info">ООО «Дверной сезон», УНП 790823530</p>
			<span class="scrollTop"></span>
		</div>
	</div>
</footer>