<div class="title_top air">
	
</div>
<div class="profile_page" id="front_region">
	<div class="wrapper">
		<p class="title">ПРОФИЛЬ</p>
		<p class="name" ><%=main_name%></p>
		<p class="salon"><%=name%></p>
		<p class="address"><%=city%>, <%=address%></p>
		<div class="clearfix">
			<div class="left col">
				<p class="head">Юридический адрес</p>
				<p><%=ur_address%></p>
			</div>
			<div class="right col">
				<p class="head">Контактное лицо</p>
				<p><%=fio%></p>
				<a href="tel:<%=phone%>" class="tel"><%=phone%></a><br>
				<a href="mailto:<%=email%>" class="mail"><%=email%></a>
			</div>
		</div>
		<div class="buts clearfix">
			<a href="?logout=yes" class="exit">Выйти из системы</a>
			<button class="change js_change" data-toggle="modal" data-target="#profileModal">Изменить профиль</button>
		</div>
	</div>
</div>

<div class="modal fade" id="profileModal" role="dialog">
	<div class="modal-dialog profileModal">
		<div class="modal-content">
			<i class="close" data-dismiss="modal"></i>
			<div class="content clearfix">
				<p class="title">Изменить профиль</p>
				<div class="field">
					<span class="name">Название объекта</span>
					<input type="text" name="name">
					<span class="help">Фирменный салон «Стальная линия»</span>
				</div>
				<div class="field">
					<span class="name">Город</span>
					<input type="text" name="city" class="short">
				</div>
				<div class="field">
					<span class="name">Почтовый индекс</span>
					<input type="text" name="index" class="short">
				</div>
				<div class="field">
					<span class="name">Адрес</span>
					<input type="text" name="address">
					<span class="help">ТЦ Трюм, ул. Кальварийская, 7Б-6</span>
				</div>
				<div class="field">
					<span class="name">Юридический адрес</span>
					<textarea type="text" name="ur_address"></textarea>
					<span class="help">ООО "Дверной сезон" 213105,Республика Беларусь<br>Могилевская обл., Могилевский р-н, д.Вейно<br>р/с 3012437149018 в ЦБУ №801 ОАО "Белинвестбанк"<br>г.Могилев, б-р Непокоренных, 43б код 153001739<br>ОКПО 30069447000 УНП 790823530</span>
				</div>
				<div class="field">
					<span class="name">ФИО контактного лица</span>
					<input type="text" name="fio">
					<span class="help">Вахтанов Константин Константинович</span>
				</div>
				<div class="field">
					<span class="name">Контактный телефон</span>
					<input type="text" name="phone">
				</div>
				<div class="field">
					<span class="name">Контактный адрес эл. ящика</span>
					<input type="text" name="email">
				</div>
				<button class="button js_submit" data-dismiss="modal">Сохранить изменения</button>
			</div>
		</div>
	</div>
</div><!-- end Modal-->
<footer id="footer">
	<div class="wrap">
		<div class="bottom">
			<p class="info">ООО «Дверной сезон», УНП 790823530</p>
			<span class="scrollTop"></span>
		</div>
	</div>
</footer>