@import url(../../style/css/reset.css);
@import url(../../style/css/loader.css);
//fonts

@font-face {
    font-family: 'icomoon';
    src: url('../../fonts/icomoon.eot');
    src: url('../../fonts/icomoon.eot?#iefix') format('eot'), 
	url('../../fonts/icomoon.ttf') format('truetype'), 
	url('../../fonts/icomoon.woff') format('woff'), 
	url('../../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'permian';
    src: url('../../fonts/PermianSansTypeface.eot');
    src: url('../../fonts/PermianSansTypeface.eot?#iefix') format('eot'), 
	url('../../fonts/PermianSansTypeface.ttf') format('truetype'), 
	url('../../fonts/PermianSansTypeface.woff') format('woff'), 
	url('../../fonts/PermianSansTypeface.svg') format('svg');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: 'permian-bold';
    src: url('../../fonts/PermianSansTypeface-Bold.eot');
    src: url('../../fonts/PermianSansTypeface-Bold.eot?#iefix') format('eot'), 
	url('../../fonts/PermianSansTypeface-Bold.ttf') format('truetype'), 
	url('../../fonts/PermianSansTypeface-Bold.woff') format('woff'), 
	url('../../fonts/PermianSansTypeface-Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
} 

// mixins,vars

@mixin user() {
	-moz-user-select: -moz-none;
	-o-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	user-select: none;
}

@mixin trans($p,$t,$f,$s) {
	-webkit-transition: $p $t $f $s;
    -moz-transition: $p $t $f $s;
    -o-transition: $p $t $f $s;
    transition: $p $t $f $s;
} 

@mixin scale($sc) {
	-moz-transform: scale($sc);
	-ms-transform: scale($sc);
	-webkit-transform: scale($sc);
	-o-transform: scale($sc);
	transform: scale($sc);
} 

@mixin rotate($deg) {
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	-webkit-transform: rotate($deg);
	-o-transform: rotate($deg);
	transform: rotate($deg);
} 

@mixin fix() {
	position: fixed;
	top: 50%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

@mixin font1($size,$color) {
	font: 400 $size 'permian', sans-serif;
	color: $color;
	line-height: $size;
}
@mixin font2($size,$color) {
	font: 700 $size 'permian-bold', sans-serif;
	color: $color;
	line-height: $size;
} 

@mixin icon($content,$fz,$color) {
	&::before {
		content: $content;
		font: $fz 'icomoon';
		display: inline-block;
		color: $color;
	}
}

@mixin but($plr,$color) {
	display: inline-block;
	background: $color;
	@include trans(all,0.15s,ease,0.0s);
	border-radius: 4px;
	box-shadow: 0 3px 7px 0 rgba(0,0,0,0.25);
	@include font1(17px,#fff);
	padding: 15px $plr 14px $plr;
	&:hover {
		background: darken($color,4%);
	}
	&:active {
		box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
	}
}

$blue: #1a83d1;

.clearfix::after {
  clear: both;
  content: ".";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

* {
	-webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}


body {
	position: relative;
	min-width: 1180px;
}
.wrap {
	margin: 0 auto;
    width: 1140px;
    position: relative;
}

header {
	background: #f4f4f4;
	padding: 30px 0;
	position: relative;
	.logo {
		@include icon('\e906',46px,#117fc6);
		display: block;
		float: left;
		margin: 5px 15px 0 0;
		&:hover::before {
			color: #0070b9;
		}
	}
	.nav {
		float: left;
		margin-top: 11px;
		a {
			float: left;
			display: inline-block;
			@include font1(17px,#1d1d1d);
			padding: 8px 15px;
			border: 1px solid transparent;
			@include trans(all,0.15s,ease,0.0s);
			border-radius: 5px;
			margin-right: 5px;
			&:hover {
				color: $blue;
			}
			&.active {
				color: #1d1d1d;
				background: #e6e6e6;
				border-color: #dadada;
			}
		}
	}
	.date {
		float: right;
		width: 195px;
		margin: 12px 10px 0 0;
		.time {
			float: left;
			@include font2(32px,#1d1d1d);
			margin-right: 10px;
			.dots {
				@include trans(all,0.15s,ease,0.0s);
				opacity: 0;
				position: relative;
				top: -3px;
				&.show {
					opacity: 1;
				}
			}
		}
		.day {
			float: left;
			@include font1(12px,#7b7b7b);
			line-height: 16px;
		}
	}
	.profile {
		float: right;
		display: inline-block;
		padding: 8px 45px 8px 15px;
		border: 1px solid transparent;
		@include trans(all,0.15s,ease,0.0s);
		border-radius: 5px;
		.name {
			@include font1(17px,#1d1d1d);
			display: block;
			margin-bottom: 4px;
		}
		.descript {
			@include font1(12px,#7b7b7b);
		}
		&:hover {
			.name {
				color: $blue;
			}
		}
		&.active {
			.name {
				color: #1d1d1d;
			}
			background: #e6e6e6;
			border-color: #dadada;
		}
	}
	&.grad {
		background: #f4f4f4; 
		background: linear-gradient(to bottom, #f2f2f2 0%,#ffffff 100%); 
	}
}
.title_top {
	background: #f4f4f4;
	.title {
		@include font2(55px,#1d1d1d);
		padding: 30px 0;
	}
	&.air {
		padding: 95px 0;
	}
}
.table {
	width: 100%;
	tr {
		th {
			background: #5ea8df;
			@include font2(17px,#fff);
			padding: 22px 0;
			text-align: left;
			&:first-child {
				padding-left: 20px;
				width: 230px;
			}
			&:nth-child(2) {
				width: 240px;
			}
			.sort {
				display: inline-block;
				position: relative;
				@include icon('\e900',13px,#fff);
				cursor: pointer;
				overflow: hidden;
				padding-right: 23px;
				top: 3px;
				&::before {
					position: absolute;
					right: 0;
					top: 3px;
					@include trans(all,0.2s,ease,0.0s);
				}
				&::after {
					content: '\e900';
				    font: 13px 'icomoon';
				    display: inline-block;
				    color: #fff;
				    position: absolute;
					right: 0;
					top: 30px;
					@include trans(all,0.2s,ease,0.0s);
				}
				&:hover {
					&::before {
						top: -27px;
					}
					&::after {
						top: 3px;
					}
				}
				&.up::before {
					@include rotate(180deg);
				}
				&.up::after {
					@include rotate(180deg);
				}
			}
		}
		td {
			@include font1(15px,#303030);
			height: 58px;
			vertical-align: middle;
			text-align: left;
			border-bottom: 1px solid #f4f4f4;
			border-top: 1px solid transparent;
			&.bold {
				@include font2(17px,#000);
			}
			&:first-child {
				padding-left: 20px;
			}
			&:last-child {
				width: 77px;
			}
			span {
				display: block;
				cursor: pointer;
				height: 58px;
				width: 77px;
				text-align: center;
				position: relative;
				@include trans(all,0.15s,ease,0.0s);
				.tooltip {
					display: none;
					@include font1(14px,#fff);
					padding: 7px 12px;
					border-radius: 4px;
					background: #575757;
					position: absolute;
					z-index: 2;
					right: 58px;
					top: 40px;
				}
				&::before {
					line-height: 58px !important;
					@include trans(all,0.15s,ease,0.0s);
				}
				&:hover {
					.tooltip {
						display: inline-block;
					}
				}
				&.add {
					background: #f2f9ff;
					@include icon('\e902',20px,#8dafcd);
					&:hover {
						background: darken(#f2f9ff,6%);
						&::before {
							color: darken(#8dafcd,6%);
						}
					}
				}
				&.edit {
					background: #d2f5e7;
					@include icon('\e903',20px,#73a792);
					&:hover {
						background: darken(#d2f5e7,6%);
						&::before {
							color: darken(#73a792,6%);
						}
					}
				}
				&.empty {
					@include icon('\e902',20px,#DEDEDE);
					&::before {
						@include rotate(45deg);
					}
				}
			}
		}
		cursor: pointer;
		&.head {
			cursor: default;
		}
		&:hover {
			td {
				background: #f8f8f8;
			}
		}
		&.active {
			td {
				background: #e5f9f1;
				border-color: #cef0e0;
			}
		}
		&.not {
			td {
				opacity: 0.2;
				background: #fff !important;
				&:last-child {
					opacity: 1;
				}
			}
		}
	}
}
.search {
	float: left;
	position: relative;
	margin-right: 25px;
	.input {
		width: 380px;
		box-sizing: border-box;
		display: block;
		border: 1px solid #e6e6e6;
		height: 36px;
		padding-left: 34px;
		@include font1(16px,#1d1d1d);
		@include trans(all,0.15s,ease,0.0s);
		&:focus {
			border-color: #aaa;
		}
	}
	.icon {
		position: absolute;
		display: block;
		height: 34px;
		width: 34px;
		left: 1px;
		top: 1px;
		background: none;
		z-index: 2;
		@include icon('\e907',14px,#b2b2b2);
		text-align: center;
		&::before {
			line-height: 34px;
			@include trans(all,0.15s,ease,0.0s);
		}
	}
}
.stock {
	padding-bottom: 240px;
	min-height: 540px;
	.top_filts {
		padding: 35px 0 40px;
		.clearfix {
			float: right;
		}
		.dropdown {
			position: relative;
			float: left;
			margin-right: 25px;
			height: 36px;
			overflow: hidden;
			&:last-child {
				margin-right: 0;
			}
			.head {
				cursor: pointer;
				border: 1px solid #e6e6e6;
				border-radius: 4px;
				position: relative;
				@include font1(15px,#1d1d1d);
				line-height: 34px;
				display: inline-block;
				padding: 0 90px 0 15px;
				@include trans(all,0.15s,ease,0.0s);
				.arrow {
					position: absolute;
					right: 0;
					top: 0;
					height: 34px;
					width: 42px;
					display: block;
					text-align: center;
					border-left: 1px solid #e6e6e6;
					@include icon('\e900',13px,#000);
					@include trans(all,0.15s,ease,0.0s);
					&::before {
						line-height: 36px;
						@include trans(all,0.25s,ease,0.0s);
					}
				}
				&:hover {
					border-color: #aaa;
					.arrow {
						border-color: #aaa;
					}
				}
				b {
					position: absolute;
					top: 0px;
					right: 65px;
				}

			}
			&.active {
				.head {
					color: $blue;
				}
			}
			.list {
				position: absolute;
				width: 100%;
				max-height: 320px;
				overflow: auto;
				background: #fff;
				border: 1px solid #e6e6e6;
				box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2);
				box-sizing: border-box;
				top: 150%;
				opacity: 0;
				z-index: 2;
				@include trans(all,0.2s,ease,0.0s);
				li {
					padding: 9px 14px; 
					@include trans(all,0.15s,ease,0.0s);
					cursor: pointer;
					i {
						display: inline-block;
						margin-right: 10px;
						width: 14px;
						height: 14px;
						box-sizing: border-box;
						border: 1px solid #dadada;
						position: relative;
						top: 2px;
						background: #fff;
						@include icon('\e901',14px,$blue);
						&::before {
							position: absolute;
							left: 1px;
							top: -4px;
							display: none;
						}
					}
					span {
						@include font1(15px,#1d1d1d);
					}
					&:hover {
						background: #e7f5ff;
					}
					&.active {
						i::before {
							display: block;
						}
					}
				}
			}
			&.open {
				overflow: visible;
				.head {
					.arrow::before {
						@include rotate(180deg);
						line-height: 34px;
					}
				}
				.list {
					opacity: 1;
					top: 120%;
				}
			}
		}
	}
	.table_stock {
		
	}
	.back_stock {
		span {
			cursor: pointer;
			display: inline-block;
			@include font1(17px,#a3a3a3);
			margin-left: 20px;
			position: relative;
			border-bottom: 1px solid #ddd;
			@include icon('\e900',12px,#ccc);
			padding-bottom: 2px;
			&::before {
				position: absolute;
				left: -20px;
				top: 3px;
				@include rotate(90deg);
			}
			&:hover {
				color: #888;
				border-color: #aaa;
				&::before {
					color: #aaa;
				}
			}
		}
	}
	.table_order {
		tr {
			th {
				background: #75d0aa;
				&:first-child {
					width: 300px;
				}
				&:nth-child(2) {
					width: 230px;
				}
			}
			td {
				border-color: #e6f7ef;
			}
			&:hover {
				td {
					background: #e5f9f1;
				}
			}
		}
	}
}

.search_res_empty {
	padding: 100px 0;
	.mess {
		@include font1(34px,#1d1d1d);
		text-align: center;
		b {
			@include font2(34px,#1d1d1d);
		}
	}
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-2px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(4px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-8px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(8px, 0, 0);
  }
}
.footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	background: #fff;
	border-top: 1px solid #f2f2f2;
	.top {
		padding: 25px 0 0px;
		p {
			float: left;
			@include font1(17px,#272727);
			span {
				@include font2(40px,$blue);
				line-height: 50px;
			}
			&.mar {
				margin-right: 40px;
			}
		}
		.button {
			float: right;
			@include but(36px,#25d67c);
			margin-top: 5px;
			&.submit {
				@include but(30px,$blue);
			}
			&.stop:active {
				animation: shake 0.6s cubic-bezier(.36,.07,.19,.97) both;
				transform: translate3d(0, 0, 0);
				backface-visibility: hidden;
				perspective: 1000px;
			}
		}
	}
	.bottom {
		padding: 22px 0;
		position: relative;
		margin-top: 5px;
		.info {
			@include font1(12px,#b2b2b2);
		}
		.scrollTop {
			display: block;
			position: absolute;
			right: 0;
			top: 18px;
			width: 27px;
			height: 21px;
			background: url(../../img/scrollTop.svg) 0 0 no-repeat;
			background-size: 100% 100%;
			cursor: pointer;
			&:hover {
				opacity: 0.75;
			}
		}
	}
}
footer {
	.bottom {
		padding: 22px 0;
		position: relative;
		.info {
			@include font1(12px,#b2b2b2);
		}
		.scrollTop {
			display: block;
			position: absolute;
			right: 0;
			top: 18px;
			width: 27px;
			height: 21px;
			background: url(../../img/scrollTop.svg) 0 0 no-repeat;
			background-size: 100% 100%;
			cursor: pointer;
			&:hover {
				opacity: 0.75;
			}
		}
	}
}
.top_tabs {
	padding: 54px 0;
	.tab {
		float: left;
		margin-right: 40px;
		display: inline-block;
		cursor: pointer;
		border: 1px solid #e6e6e6;
		border-radius: 5px;
		@include font2(35px,#999595);
		padding: 16px 40px;
		background: #fff;
		@include trans(all,0.15s,ease,0.0s);
		&:hover {
			border-color: #bbb;
			color: #444;
		}
		&:active {
			color: $blue;
			box-shadow: inset 0 5px 9px 0 rgba(0,0,0,0.1);
			border-color: #e6e6e6;
			background: #fafafa;
		}
		&.active {
			color: $blue;
			box-shadow: inset 0 5px 9px 0 rgba(0,0,0,0.1);
			border-color: #e6e6e6;
			background: #fafafa;
		}
	}
	.button {
		float: right;
		@include but(27px,#ffae00);
		margin-top: 12px;
	}
}

.screen_tab {
	display: none;
	&.active {
		display: block;
	}
}

.curr_orders {
	padding: 10px 0 44px;
	.box {
		float: left;
		margin-right: 33.3px;
		position: relative;
		cursor: pointer;
		top: 0;
		margin-bottom: 50px;
		@include trans(top,0.15s,ease,0.0s);
		.back {
			position: absolute;
			z-index: 1;
			bottom: 0;
			width: 100%;
			height: 185px;
			background: rgb(178,178,178);
			background: linear-gradient(135deg, rgba(243,243,243,1) 0%,rgba(178,178,178,1) 100%); 
			box-shadow: 0 9px 11px -10px rgba(0,0,0,0.3);
			@include trans(all,0.15s,ease,0.0s);
			&::after {
				content: '';
				width: 0;
				height: 0;
				border-bottom: 185px solid #fff;
				border-left: 6px solid transparent;
				position: absolute;
				right: 0;
				bottom: 0;
				@include trans(all,0.15s,ease,0.0s);
			}
			&::before {
				content: '';
				width: 0;
				height: 0;
				border-bottom: 185px solid #fff;
				border-right: 6px solid transparent;
				position: absolute;
				left: 0;
				bottom: 0;
				@include trans(all,0.15s,ease,0.0s);
			}
			.line {
				position: absolute;
				z-index: 1;
				bottom: 100%;
				width: 100%;
				height: 20px;
				background: rgb(224,224,224);
				background: linear-gradient(to bottom, #e0e0e0 0%,#F5F5F5 100%); 
				@include trans(all,0.15s,ease,0.0s);
				&::after {
					content: '';
					width: 0;
					height: 0;
					border-top: 20px solid #fff;
					border-left: 5px solid transparent;
					position: absolute;
					right: 0;
					top: 0;
					@include trans(all,0.15s,ease,0.0s);
				}
				&::before {
					content: '';
					width: 0;
					height: 0;
					border-top: 20px solid #fff;
					border-right: 5px solid transparent;
					position: absolute;
					left: 0;
					top: 0;
					@include trans(all,0.15s,ease,0.0s);
				}
			}
		}
		.front {
			position: relative;
			z-index: 2;
			width: 260px;
		    height: 210px;
		    top: 0;
		    padding: 42px 50px 0 25px;
		    box-sizing: border-box;
		    @include trans(top,0.15s,ease,0.0s);
		}
		.date {
			@include font2(37px,#000);
			margin-bottom: 8px;
		}
		.quant {
			@include font1(14px,#000);
			margin-bottom: 5px;
		}
		.manager {
			@include font1(14px,#000);
			line-height: 20px;
		}
		.price {
			@include font2(17px,#000);
			position: absolute;
			left: 25px;
			bottom: 25px;
			@include trans(all,0.15s,ease,0.0s);
		}
		.num {
			position: absolute;
			right: 25px;
			top: 46px;
			@include trans(top,0.15s,ease,0.0s);
			@include font2(14px,#939393);
		}
		.print {
			position: absolute;
			display: inline-block;
			bottom: 23px;
			right: 25px;
			@include icon('\e908',15px,#939393);
			cursor: pointer;
			@include trans(all,0.15s,ease,0.0s);
			&:hover::before {
				color: #333;
			}
		}
		&.after {
			margin-right: 0;
		}
		&:hover {
			.back { 
				box-shadow: 0 14px 17px -12px rgba(0, 0, 0, 0.3);
			}
		}
		&:active {
			.back {
				box-shadow: none;
				height: 190px;
				&::after {
					border-bottom: 190px solid #fff;
				}
				&::before {
					border-bottom: 190px solid #fff;
				}
				.line {
					height: 15px;
					&::after {
						border-top: 15px solid #fff;
					}
					&::before {
						border-top: 15px solid #fff;
					}
				}
			}
			.front {
				top: -5px;
			}
		}
		&::after {
			content: '';
			border: 18px solid transparent;
		    border-bottom: 18px solid #5EA8DF;
		    border-top: none;
		    position: absolute;
		    left: 50%;
		    margin-left: -18px;
		    top: 240px;
		    cursor: default;
		    opacity: 0;
		   	@include trans(all,0.0s,ease,0.0s);
		}
		&.active {
			top: 16px;
			margin-bottom: 50px;
			.back {
				background: rgb(225,189,153);
				background: linear-gradient(135deg, rgba(255,255,204,1) 0%,rgba(225,189,153,1) 100%); 
				.line {
					background: rgb(239,237,168);
					background: linear-gradient(to bottom, rgba(239,237,168,1) 0%,rgba(255,255,204,1) 100%); 
				}
			}
			.num,.print::before {
				color: #b99540;
			}
			.print:hover::before {
				color: #333;
			}
			&::after {
				opacity: 1;
				top: 226px;
				@include trans(all,0.15s,ease,0.3s);
			}
		}
	}
	.table {
		margin-bottom: 30px;
		tr {
			td {
				border-bottom: 1px solid #e8f2fa;
				&:last-child {
					width: 145px;
				    text-align: right;
				    padding-right: 30px;
				}
			}
			&:hover {
				td {
					background: #f3f9fd;
					border-color: #e8f2fa;
				}
			}
		}
	}
	&.complete {
		.box {
			&::after {
			    border-bottom-color: #bebebe;
			}
			&.active {
				&::after {
				    border-bottom-color: #bebebe;
				}
			}
		}
		.table {
			tr {
				th {
					background: #bebebe;
				}
				td {
					border-bottom: 1px solid #f2f2f3;
				}
				&:hover {
					td {
						background: #f8f9f9;
						border-color: #f2f2f3;
					}
				}
			}
		}
	}
}
.order_detail {
	float: left;
	width: 100%;
	display: none;
	opacity: 1;
	&.fade {
		@include trans(opacity,0.3s,ease,0s);
		opacity: 0;
	}
}

.more_orders {
	@include but(0px,#fff);
	display: block;
	width: 100%;
	text-align: center;
	color: #000;
	margin-bottom: 50px;
}
.orders {
	.controls {
		padding: 45px 0;
		.period_tabs {
			margin-right: 35px;
			float: left;
			li {
				float: left;
				@include font1(15px,#000);
				padding: 10px 15px;
				border: 1px solid #e6e6e6;
				position: relative;
				margin-right: -1px;
				cursor: pointer;
				z-index: 1;
				&:hover {
					border-color: #c9c9c9;
					z-index: 2
				}
				&.active {
					background: #c6e7ff;
					border-color: #a6d6f9;
					z-index: 3;
				}
				&:first-child {
					border-top-left-radius: 5px;
					border-bottom-left-radius: 5px;
				}
				&:last-child {
					border-top-right-radius: 5px;
					border-bottom-right-radius: 5px;
				}
			}
		}
		.period {
			float: left;
			form {
				float: left;
				margin-right: 8px;
				position: relative;
			}
			.date {
				display: block;
				float: left;
				width: 170px;
				height: 37px;
				border: 1px solid #e6e6e6;
				box-sizing: border-box;
				border-radius: 5px;
				padding-left: 40px;
				background: url(../../img/period.svg) 9px center no-repeat;
				@include font1(14px,#000);
				cursor: pointer;
				&:hover {
					border-color: #aaa;
				}
			}
		}
	}
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
       -o-transition: opacity .15s linear;
          transition: opacity .15s linear;
}
.fade.in {
  opacity: 1;
}
.modal-open {
  overflow: hidden;
}
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}
.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
       -o-transition:      -o-transform .3s ease-out;
          transition:         transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
       -o-transform: translate(0, -25%);
          transform: translate(0, -25%);
}
.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
       -o-transform: translate(0, 0);
          transform: translate(0, 0);
}
.modal-open .modal {
  overflow: auto;
}
.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  .close {
		position: absolute;
		top: 15px;
		right: 15px;
		z-index: 2;
		display: inline-block;
		cursor: pointer;
		@include icon('\e902',16px,#999999);
		@include rotate(45deg);
		&:hover::before {
			color: #333;
		}
	}
}
.modal-content {
  position: relative;
  background-color: #fff;
  border-radius: 5px;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
          box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
.stockModal {
	width: 940px;
	margin: 30px auto;
	.content {
		padding: 75px 65px 10px;
		.left {
			width: 390px;
			float: left;
			.type {
				@include font2(17px,$blue);
				display: block;
			}
			.name {
				@include font2(50px,#2d2d2d);
				margin-bottom: 25px;
				line-height: 55px;
			}
			.tech {
				margin-bottom: 45px;
				p {
					@include font2(18px,#2d2d2d);
					padding-bottom: 10px;
					border-bottom: 3px solid #dadada;
				}
				table {
					width: 100%;
					td {
						@include font1(14px,#2d2d2d);
						vertical-align: middle;
						height: 34px;
						border-bottom: 1px solid #dadada;
						&:first-child {
							width: 160px;
							color: #737373;
						}
						&.bold {
							@include font2(14px,#2d2d2d);
						}
					}
				}
			}
		}
		.right {
			float: right;
			width: 360px;
			.img {
				float: left;
				width: 165px;
				margin-bottom: 25px;
				&:nth-child(2) {
					float: right;
				}
				img {
					display: block;
					height: 334px;
					box-shadow: 0 7px 10px 0 rgba(0,0,0,0.3);
					margin-bottom: 20px;
				}
				.descript {
					.name {
						@include font2(18px,$blue);
						margin-bottom: 10px;
					}
					.props {
						@include font1(13px,#565656);
						line-height: 20px;
					}
				}
			}
			.comment {
				margin-bottom: 45px;
				.title {
					@include font2(18px,#333);
					margin-bottom: 10px;
				}
				.text {
					@include font1(14px,#333);
					line-height: 21px;
				}
			}
		}
	}
	.foot {
		padding: 35px 75px;
		border-top: 3px solid #ececec;
		.price,.quant {
			float: left;
			margin-right: 40px;
			@include font1(16px,#2d2d2d);
			b {
				@include font2(24px,#000);
			}
		}
		.total {
			float: left;
			@include font1(16px,#2d2d2d);
			b {
				@include font2(28px,$blue);
				line-height: 24px;
			}
		}
	}
}

.addModal {
	width: 430px;
	margin: 30px auto;
	.content {
		padding: 45px 45px 55px;
		.icon {
			display: block;
			text-align: center;
			width: 46px;
			height: 46px;
			border-radius: 4px;
			background: #f4f4f4;
			@include trans(all,0.15s,ease,0.0s);
			cursor: pointer;
			&::before {
				@include trans(all,0.15s,ease-out,0.0s);
				line-height: 46px !important;
			}
			&:hover {
				background: #c6e7ff;
				&::before {
					color: #4f86b0 !important;
				}
			}
			&.down {
				@include icon('\e905',20px,#626262);
			}
			&.up {
				@include icon('\e902',20px,#626262);
			}
			&.del {
				@include icon('\e904',24px,#626262);
			}
		}
		.quantity {
			width: 160px;
			float: left;
			margin-right: 20px;
			i {
				float: left;
			}
			.num {
				width: 68px;
				@include font1(42px,#000);
				text-align: center;
				padding: 0;
				height: 46px;
				border: none;
				float: left;
			}
		}
		.sum {
			float: left;
			@include font1(18px,#000);
			line-height: 24px;
			b {
				@include font2(17px,#000);
			}
		}
		.text_field {
			display: block;
			width: 100%;
			border: 1px solid #e6e6e6;
			height: 140px;
			padding: 10px 0 0 10px;
			@include font1(17px,#222);
			margin: 34px 0;
			&:focus {
				border-color: #333;
			}
		}
		.del {
			float: left;
		}
		.add {
			@include but(60px,$blue);
			float: right;
		}
	}
}

.send_order_mess {
	padding: 50px 0;
	margin: 0 auto;
	width: 420px;
	.title {
		@include font2(52px,#0f0f0f);
		margin-bottom: 30px;
	}
	.info {
		@include font1(18px,#0f0f0f);
		margin-bottom: 30px;
		line-height: 24px;
	}
	.bold {
		@include font2(15px,#0f0f0f);
		margin-bottom: 6px;
	}
	.mail {
		@include font1(15px,$blue);
		border-bottom: 1px solid lighten($blue,10%);
		&:hover {
			border-color: $blue;
		}
	}
	.to_orders {
		@include but(0px,#25d67c);
		display: block;
		margin-top: 40px;
		text-align: center;
		width: 420px;
	}
}

.profile_page {
	padding-bottom: 70px;
	.wrapper {
		width: 940px;
		position: relative;
		z-index: 2;
		background: #fff;
		box-sizing: border-box;
		padding: 60px 90px 80px;
		box-shadow: 0 1px 9px 0 rgba(0,0,0,0.2);
		margin: -160px auto 0;
		.title {
			@include font2(16px,$blue);
			margin-bottom: 5px;
		}
		.name {
			@include font2(50px,#1d1d1d);
			margin-bottom: 20px;
		}
		.salon {
			@include font1(19px,#1d1d1d);
			margin-bottom: 5px;
		}
		.address {
			@include font1(19px,#1d1d1d);
			margin-bottom: 45px;
		}
		.col {
			p {
				@include font1(15px,#666);
				line-height: 23px;
				&.head {
					@include font2(15px,#666);
					margin-bottom: 6px;
				}
			}
			a {
				@include font1(15px,$blue);
				border-bottom: 1px solid $blue;
				display: inline-block;
				margin-bottom: 5px;
				&.tel {
					@include font2(15px,$blue);
					margin-top: 5px;
				}
				&:hover {
					color: #f01818;
					border-color: #f01818;
				}
			}
			&.left {
				float: left;
				width: 350px;
			}
			&.right {
				float: right;
				width: 360px;
			}
		}
		.buts {
			position: absolute;
			left: 50%;
			bottom: -24px;
			width: 460px;
			margin-left: -230px;
			.exit {
				float: left;
				@include but(30px,$blue);
			}
			.change {
				float: right;
				@include but(26px,#fff);
				color: #000;
			}
		}
	}
}

.profileModal {
	width: 560px;
	margin: 30px auto 80px;
	.content {
		padding: 75px 95px 50px;
		position: relative;
		.title {
			@include font2(38px,#1d1d1d);
			margin-bottom: 45px;
		}
		.field {
			margin-bottom: 24px;
			.name {
				display: block;
				@include font1(16px,#585858);
				margin-bottom: 10px;
			}
			input,textarea {
				width: 100%;
				height: 40px;
				border: 1px solid #e6e6e6;
				margin-bottom: 7px;
				@include font1(16px,#1d1d1d);
				&.short {
					width: 240px;
				}
				&:focus {
					border: 2px solid $blue;
				}
			}
			textarea {
				height: 170px;
				padding-top: 8px;
				display: block;
			}
			.help {
				display: block;
				@include font1(12px,#b7b7b7);
				line-height: 16px;
			}
		}
		.button {
			@include but(0px,$blue);
			display: block;
			text-align: center;
			width: 370px;
			position: absolute;
			bottom: -20px;
			left: 95px;
		}
	}
}

span.input-buttons {
	position: absolute;
	top: 9px;
	right: 3px;
}