
<%if (_.find(status,function(str) {return str === 'history'})) {%>
<div class="search">
	<span class="icon"></span>
	<input type="text" class="input" id="search" placeholder="Поиск по номеру заказа">
</div>
<%} else {%>
<ul class="period_tabs clearfix js_period">
	<li>Сегодня</li>
	<li class="js_yesterday" data-period="d">Вчера</li>
	<li data-period="w" class="active">Неделя</li>
	<li data-period="M">Месяц</li>
	<li data-period="Q">Квартал</li>
	<li data-period="y">Год</li>
</ul>
<%}%>
<div class="period clearfix">
	<input type="text" class="date js_date_range">
</div>
<%if(role==="admin"){%>
	<div data-toggle="dropdown" class="dropdown">
		<span class="head js_trigger">Фильтр по объектам <b>(<i class="js_count">0</i>)</b><i class="arrow"></i></span>
		<ul class="list js_list" id="filter_list">
			<% _.each(managers.at(0).get('list').toJSON(), function(manager){ %>
			<li data-val="<%=manager.value%>"><i></i><span class="js_name"><%=manager.name%></span></li>
			<% }); %>
		</ul>
	</div>
<%}%>