<table class="table">
	<thead>
	<tr class="head">
		<th>Наименование</th>
		<th>Артикул</th>
		<th>Ст. открытия</th>
		<th class="center">Ширина</th>
		<th class="center">Кол-во</th>
	<%if(role==="admin"||role==="mogilev"||role==="sklad"){%>
		<th class="center">На складе</th>
		<%if(role!=="sklad"){%>
		<th class="center">Резерв</th>
		<%}%>
	<%}%>
		<th <%if(role==="admin"||role==="mogilev"&&mode==="ships"){%> class="price <%if(!_.find(status,function(str) {return str === 'history'})){%>pad<%}else{%>last<%}%>" colspan="2"<%}else{%> class="price last"<%}%>><span class="sort <%if(cost==='up'){%>up<%}%>" data-sort="cost">Стоимость, руб</span></th>
	</tr>
	</thead>
	<tbody></tbody>
</table>
<%if(role==='admin'){%>
<div class="clearfix buts">
	<%if(_.find(status,function(str) {return str === 'new'})){%>
	<button class="approve green js_approve">Подтвердить заказ</button>
	<%}%>
	<%if(!_.find(status,function(str) {return str === 'history'})){%>
	<button class="cancel js_cancel">Отменить заказ</button>
	<%}%>
</div>
<%}%>
<%if(role==='sklad'){%>
<div class="clearfix buts">
	<%if(_.find(status,function(str) {return str === 'approved'})){%>
	<button class="approve js_approve"><%if(mode!=='ships'){%>Отгрузить со склада<%}else{%>Принять на склад<%}%></button>
	<button class="cancel js_cancel">Отменить</button>
	<%}%>
</div>
<%}%>
<%if(role==='mogilev'&&mode === 'ships'){%>
<div class="clearfix buts">
	<%if(_.find(status,function(str) {return str === 'approved'})){%>
	<button class="cancel js_cancel">Отменить отгрузку</button>
	<%}%>
</div>
<%}%>
