<%if (page === 'homePage') {%>

<div id="filters_region"></div>
<div class="screen_tab js_screen_tab active">
	<div class="wrap">
		<div id="orders_region">
			
		</div>

	</div>
</div>
<%} else {%>
<div class="title_top">
	<div class="wrap">
		<h1 class="title" id="title"><%=title%></h1>
	</div>
</div>
<div class="orders">
	<div class="wrap">
		<div id="filters_region">
			
		</div>
		<div id="orders_region">
			
		</div>

	</div>
</div>
<%}%>
<div id="order_detail" class="order_detail"></div>
<div class="modal fade" id="stockModal" role="dialog"></div>
<div class="modal fade" id="editModal" role="dialog"></div>
<footer id="footer"></footer>