<thead>
<tr class="head">
	<th>Наименование</th>
	<th>Артикул</th>
	<th>Ст. открытия</th>
	<th>Ширина</th>
	<th>Кол-во</th>
	<th><span class="sort <%if(cost==='up'){%>up<%}%>" data-sort="cost">Стоимость, руб</span></th>
</tr>
</thead>
<tbody></tbody>
