<p class="title">Заказ отправлен</p>
<p class="info">После подтверждения администратором сети, 
заказ будет отправлен на склад.</p>
<p class="bold">Контактная эл. почта администратора:</p>
<a href="mailto:administrator@ds-steelline.by" class="mail">administrator@ds-steelline.by</a>
<a href="#orders" class="to_orders">Посмотреть текущие заявки</a>