<thead>
<tr class="head">
	<th>Наименование</th>
	<th>Артикул</th>
	<th><span class="sort <%if(price==='up'){%>up<%}%>" data-sort="price">Цена, руб</span></th>
	<th>Кол-во</th>
	<th colspan="2"><span class="sort <%if(cost==='up'){%>up<%}%>" data-sort="cost">Стоимость, руб</span></th>
</tr>
</thead>
<tbody></tbody>