<div class="title_top">
	<div class="wrap">
		<h1 class="title" id="title"><%=title%></h1>
	</div>
</div>
<div class="stock">
	<div class="wrap">
		<div class="top_filts clearfix" id="filters_region">
			
		</div>
		<div id="table_region">
			
		</div>
	</div>
	<div class="footer">
		<div class="wrap">
			<div id="footer_region"></div>
			<div class="bottom">
				<p class="info">ООО «Дверной сезон», УНП 790823530</p>
				<span class="scrollTop"></span>
			</div>
		</div>
	</div>
	<div class="modal fade" id="stockModal" role="dialog">
		
	</div><!-- end Modal-->
	<div class="modal fade" id="addModal" role="dialog">
		
	</div><!-- end Modal-->
</div>