<td data-toggle="modal" data-target="#stockModal"  class="bold"><%=name%></td>
<td data-toggle="modal" data-target="#stockModal" ><%=art%></td>
<td data-toggle="modal" data-target="#stockModal" ><%=open_side%></td>
<td data-toggle="modal" data-target="#stockModal" ><%=width%></td>
<td data-toggle="modal" data-target="#stockModal" ><%=height%></td>
<td data-toggle="modal" data-target="#stockModal"  class="bold"><%=String(price).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1&nbsp;')%></td>
<%if(typeof order !== 'undefined'){%>
<td><span class="edit js_to_order" data-toggle="modal" data-target="#addModal">
	<i class="tooltip">Редактировать</i>
</span></td>
<%}else{%>
<td><span class="add js_to_order" data-toggle="modal" data-target="#addModal">
	<i class="tooltip">Добавить&nbsp;в&nbsp;заказ&thinsp;</i>
</span></td>
<%}%>