<thead>
<tr class="head">
	<th>Наименование</th>
	<th>Артикул</th>
	<th>Ст. открытия</th>
	<th>Ширина</th>
	<th>Высота</th>
	<th colspan="2"><span class="sort <%if(price==='up'){%>up<%}%>" data-sort="price">Цена, руб</span></th>
</tr>
</thead>
<tbody></tbody>