<div class="modal-content">
	<i class="close" data-dismiss="modal"></i>
	<div class="content clearfix">
		<div class="left">
			<span class="type"><%=type%></span>
			<p class="name"><%=name%></p>
			<div class="tech">
				<p>Основные параметры</p>
				<table>
					<tr>
						<td>Артикул</td>
						<td><%=art%></td>
					</tr>
					<tr>
						<td>Ширина</td>
						<td><%=width%></td>
					</tr>
					<tr>
						<td>Высота</td>
						<td class="bold"><%=height%></td>
					</tr>
					<tr>
						<td>Кол-во контуров</td>
						<td><%=contour%></td>
					</tr>
					<tr>
						<td>Сторона открытия</td>
						<td><%=open_side%></td>
					</tr>
				</table>
			</div>
			<div class="tech">
				<p>Фурнитура</p>
				<table>
					<% _.each(furniture, function(arr){ %>
					    <tr>
							<td><%=arr[0]%></td>
							<td><%=arr[1]%></td>
						</tr>
				    <% }); %>
				</table>
			</div>
		</div>
		<div class="right clearfix">
			<div class="img">
				<img src="<%=img_src_f%>" alt="">
				<div class="descript">
					<p class="name">Отделка снаружи</p>
					<p class="props">
						<%_.each(otdelka_f, function(prop,i){
							if(i===0){
								print(prop);
							}else{
								print(', '+prop);
							}
						})%>
					</p>
				</div>
			</div>
			<div class="img">
				<img src="<%=img_src_b%>" alt=""/>
				<div class="descript">
					<p class="name">Отделка внутри</p>
					<p class="props">
						<%_.each(otdelka_b, function(prop,i){
							if(i===0){
								print(prop);
							}else{
								print(', '+prop);
							}
						})%>
					</p>
				</div>
			</div>
			<%if(typeof order !== 'undefined'&&window.location.hash !== '#stock'&&order.comment.length>0){%>
			<div class="comment">
				<p class="title">Комментарий</p>
				<p class="text"><%=order.comment%></p>
			</div>
			<%}%>
		</div>
	</div>
	<div class="foot clearfix">
		<p class="price">Цена:<b> <%=String(price).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1&nbsp;')%> руб.</b></p>
		<%if(typeof order !== 'undefined'&&window.location.hash !== '#stock'){ 
			var quantity = order.quantity;%>
		<p class="quant">Количество:<b> <%=quantity%></b></p>
		<p class="total">Стоимость:<b> <%=String(price*quantity).replace(/(\d)(?=(\d{3})+([^\d]|$))/g, '$1&nbsp;')%> руб.</b></p>
		<%}%>
	</div>
</div>